.header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 48px;
    margin: auto;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blueviolet;
      
}

.header nav ul li {
    float: left;
}

.header nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36px;
}

.header nav ul li a:active {
    color: #3050FC;
}

.header nav ul li a:hover {
    background-color: #E0552B;
}

.active {
    background-color: #2BE070;
  }